h1 {
    text-align: center;
  }
  
  p {
    text-align: center;
    width: 100%;
    font-size: 2rem;
  }
  
  .parent {
    background-image: url(../../dokumenty/);
  }
  
  .ramik {
    border: 2px solid black;
  }